//@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

.receiver-test {
  font-size: 20px;
  display: block;
  color: #0000ff;
}

.grid {
  background-color: #008000;
}